* {
    margin: 0;
    padding: 0;
}
body {
   background-color: rgb(252, 213, 162);
}
.container {
    display: flex;
    flex-direction: row;
}
.first {
    height: 100vh;
    flex: 55%;
    display: flex;
    flex-direction: column;
    background: #f3f3f3

}
.first-title {
    height:35vh;
    background-color: #f3f3f3;
}
.first-title h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110px;
    color: #A82429;
    padding-top: 5%;
    padding-left: 8%;
    letter-spacing: 20px;
}
.first-title h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: 80;
    color: #000000;
    padding-top: 0%;
    padding-left: 8%;
    
}
.first-undertitle {
    height: 65vh;
    background-image: url("images/newwhite.png");
    background-size: 90% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.list {
    padding-top: 35%;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: space-around;
} 

.child{
    margin-left: auto;
    padding-top:1rem ;
}

.first-undertitle a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #7F7F7F;
    border-radius: 7% 7% 7% 7%;
    text-decoration: none;
    
}
 .child:hover {
    color:#171717;
    background-color: #FFFFFF;
    margin-left: auto;
}
.icons {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 3%;
    padding-bottom: 4%;

}
.social-icons {
height: 20%;
width: 9%;
padding-bottom: 2%;
margin: 0px;

}
.second {
    height: 100vh;
    flex: 45%;
    display: flex;
    flex-direction: row;
    background: orange;
}
.second-firstcolumn {
    height: 100vh;
    flex: 25%;
    display: flex;
    flex-direction: column;
    background: red;
}
.red {
    height:55vh;
    background-color:#A82429;
    display: flex;
    align-items: flex-end;
}
.red h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #F3F3F3;
    line-height: 1.5;
    padding-bottom: 10%;
    padding-left: 7%;
}
.gray{
    height: 45vh;
    background-image:url(images/black.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #cacaca;
}
.second-secondcolumn {
    height: 100vh;
    flex:20%;
    display: flex;
    flex-direction: column;
    background-color: blue;
}
.whitenotwo {
    height: 45vh;
    background-color: #f9f9f9;

}
.whitenotwo img {
    width: 100%;
    height: 90%;
}
.lightgray {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #9e9e9e;
}
.lightgray h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   color: #FFFFFF;
   padding-top: 6%;
   padding-left: 9%;
}
.lightgray p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #F3F3F3;
    padding-left: 9%;
}
